---
import "../../../styles/global.css";
import { ClientRouter } from "astro:transitions";

import { pb } from "../../../lib/config/pb";
import { IntegrationSchema } from "../../../models";
import Chat from "../../../chat/Chat.svelte";
import ThemeLoad from "../../../components/ThemeLoad.astro";

const { id } = Astro.params;
const token = Astro.url.searchParams.get("token");

const integration = IntegrationSchema.parse(
  await pb
    .collection("integrations")
    .getFirstListItem(`chat="${id}"`, { expand: "agent,chat" })
);
const chat = integration.expand!.chat!;
const agent = integration.expand!.agent!;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/LOGO.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{chat.name}</title>
    <ThemeLoad />
    <ClientRouter />
  </head>
  <body>
    <Chat chat={chat} agent={agent} token={token} client:only />
  </body>
</html>

<style>
  html,
  body {
    background-color: transparent;
  }
</style>
