---
import {
  PUBLIC_CHAT_WIDGET_DOMAIN,
  PUBLIC_CHAT_WIDGET_ID,
} from "astro:env/client";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { active } = Astro.props;
---

<Header active={active} />

<main class="mt-4 px-2 mx-auto max-w-screen-xl">
  <slot />
</main>

<Footer />

<script
  src={`${PUBLIC_CHAT_WIDGET_DOMAIN}/scripts/chat-widget.js`}
  data-chat-id={PUBLIC_CHAT_WIDGET_ID}></script>

<script
  is:inline
  data-astro-rerun
  data-domain={PUBLIC_CHAT_WIDGET_DOMAIN}
  data-id={PUBLIC_CHAT_WIDGET_ID}
>
  (function () {
    const { id, domain } = document.currentScript.dataset;
    function boot() {
      if (!window.ChatWidget) return;
      if (!window.ChatWidget._loaded) {
        window.ChatWidget.init({ id, domain });
      } else {
        window.ChatWidget.reload();
      }
    }
    boot();
  })();
</script>
